/* Global Style Styles */
html, body { width: 100%; height: 100%; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif; }

/* POI List Styles */
#mp_ui_RightIcon { position: absolute; z-index: 1; width: 40px; height: 40px; background: #7BB51C; color: #FFF; line-height: 40px; text-align: center; }
#mp_ui_RightIcon:hover { background: #507512; }

#mp_ui_LeftList { z-index: 1; width: 350px; background: #ecf0f1; position: absolute; height: 100%; }
.mp_ui_LeftListHeader { height: 120px; background: #7BB51C; }
#mp_ui_HeaderHeader > span { line-height: 80px; vertical-align: top; }
.mp_ui_LeftListHeader span { line-height: 40px; color: #FFF;}
#mp_ui_HeaderHeader { height: 80px; padding: 0 40px; }
.mp_ui_LeftListContent {}

.mp_ui_Tabs { display: flex; }
.mp_ui_Tab { display: inline-block; height: 40px; flex: 1; text-align: center; cursor: pointer; box-sizing: border-box;
    transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease; }
.mp_ui_Tab:hover { background: #507512; }
.mp_ui_Tab:first-child { border-bottom: 3px solid #507512; }

#mp_ui_LeftTab {  }
#mp_ui_RightTab { display: none; }

/* Google Card Styles */
.mp_ui_GoogleCard { background: #FFF; width: 300px; height: 300px; margin: 20px auto 0 auto;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.75); }
.cImg { width: 300px; heigth: 208px; background: url('/img/image_schloss.jpg'); }
.mp_ui_LeftListContent h1 { padding: 5px 0 5px 0; margin: 0; font-size: 21px; }
.mp_ui_LeftListContent p { padding: 5px 0 5px 0; margin: 0; font-size: 14px; }
.mp_ui_LeftListCardText { padding: 10px; }


/* Google Map Styles */
#map { width: 100%; height: 100%; }

