html, body { padding: 0; margin: 0; width: 100%; height: 100%; font-family: 'Open Sans', sans-serif; }

::selection { background: #7BB51C; color: #FFF; }
::-moz-selection { background: #7BB51C; color: #FFF; }

h1 { color: #7BB51C; font-weight: 200; font-size: 48px; line-height: 80px; }

#map { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -1; }

header { padding-top: 50px; }

#app-name { font-weight: 800; color: #157293; letter-spacing: 6px; }

#get-it-container { width: 400px; height: 60px; border: 2px solid #157293; background: #FFF; }
#get-it-container span { letter-spacing: 6px; color: #157293; font-weight: 300; line-height: 60px; }
#get-it-container img { line-height: 60px; vertical-align: text-bottom; margin-left: 24px; }

.center { margin: 0 auto; text-align: center; }

.gm-style { opacity: 0.7; }
.gm-style-cc { display:none; }

#page-content { display: none; position: fixed; left: 0; top: 0; height: 100%; width: 100%; z-index: 1; }

.table { height: 100%; width: 100%; display: table; }
.table-cell { display: table-cell; text-align: center; vertical-align: middle; }

#page-content-box { text-align: left; overflow-y: auto; line-height: 28px; color: #666; font-size: 12px; padding: 64px; position: relative; display: inline-block; height: 360px; max-width: 420px; background: rgba(255, 255, 255, .9); }
#close-page-content-btn { display: block; position: absolute; right: 0; top: 0; text-decoration: none; color: #fff; height: 48px; line-height: 48px; width: 48px; text-align: center; background: #7BB51C; }

#get-it-wrapper { width: 100%; position: absolute; bottom: 100px; }

footer { font-size: 10px; position: absolute; bottom: 0; width: 100%; background: #FFF; height: 50px; line-height: 50px; font-weight: 800; }
footer div { letter-spacing: 2px; }
#footer-text, #footer-links, #footer-links > div { display: inline-block; }
#footer-links { float: right; margin-right: 50px; }
#footer-links a { color: #7BB51C; cursor: pointer; text-decoration: none; }
#footer-links div { margin-left: 55px; }
#footer-text { margin-left: 50px; }

a[href^="http://maps.google.com/maps"] { display: none !important }
a[href^="https://maps.google.com/maps"] { display: none !important }

@media all and (max-width: 380px) {
	#get-it-container { width: 250px; height: 100px; }
	#get-it-container span { display: block;}
	#footer-links div { margin-left: 20px; float: left; }
	#apple-icon { float: right; margin-right: 24px; }
	#android-icon { float: left; }
}
